In [1]:
import pandas as pd
import pandas_datareader as data
import numpy as np
from matplotlib.pyplot import plt

In [2]:
#get stock data
start='2012-1-1'
end='2022-1-3'
df=data.DataReader('AAPL','yahoo',start,end)
df.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2012-01-03  14.732143  14.607143  14.621429  14.686786  302220800.0  12.591942
2012-01-04  14.810000  14.617143  14.642857  14.765714  260022000.0  12.659609
2012-01-05  14.948214  14.738214  14.819643  14.929643  271269600.0  12.800158
2012-01-06  15.098214  14.972143  14.991786  15.085714  318292800.0  12.933966
2012-01-09  15.276786  15.048214  15.196429  15.061786  394024400.0  12.913446

In [3]:
df=df.reset_index()
df=df.drop(['Date','Adj Close'],axis=1)
df.head()

        High        Low       Open      Close       Volume
0  14.732143  14.607143  14.621429  14.686786  302220800.0
1  14.810000  14.617143  14.642857  14.765714  260022000.0
2  14.948214  14.738214  14.819643  14.929643  271269600.0
3  15.098214  14.972143  14.991786  15.085714  318292800.0
4  15.276786  15.048214  15.196429  15.061786  394024400.0

In [4]:
ma100=df.Close.rolling(100).mean()
ma100

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
2513    153.6667
2514    153.9991
2515    154.3202
2516    154.6399
2517    155.0014
Name: Close, Length: 2518, dtype: float64

In [5]:
ma200=df.Close.rolling(200).mean()
ma200

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
2513    143.13220
2514    143.40125
2515    143.66845
2516    143.95365
2517    144.26375
Name: Close, Length: 2518, dtype: float64

In [6]:
df.shape

(2518, 5)

In [7]:
#spliting data into Training and Testing
data_training=pd.DataFrame(df['Close'][0:int(len(df)*0.70)])
data_testing=pd.DataFrame(df['Close'][int(len(df)*0.70):int(len(df))])
print(data_training.shape)
print(data_testing.shape)

(1762, 1)
(756, 1)

In [9]:
data_training.head()

       Close
0  14.686786
1  14.765714
2  14.929643
3  15.085714
4  15.061786

In [10]:
data_testing.head()

          Close
1762  37.064999
1763  36.982498
1764  37.687500
1765  38.327499
1766  38.450001

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))

In [15]:
data_training_array=scaler.fit_transform(data_training)
data_training_array

array([[0.01677525],
       [0.01856622],
       [0.02228596],
       ...,
       [0.57834128],
       [0.57936234],
       [0.49012933]])

In [17]:
x_train=[]
y_train=[]

for i in range(100,data_training_array.shape[0]):
    x_train.append(data_training_array[i-100:i])
    y_train.append(data_training_array[i,0])
x_train,y_train=np.array(x_train),np.array(y_train)

In [19]:
x_train.shape

(1662, 100, 1)

In [18]:
#ml model

In [20]:
from keras.layers import Dense,Dropout,LSTM
from keras.models import Sequential

In [21]:
model=Sequential()
model.add(LSTM(units=50,activation='relu',return_sequences=True,input_shape=(x_train.shape[1],1)))
model.add(Dropout(0.2))



model.add(LSTM(units=60,activation='relu',return_sequences=True))
model.add(Dropout(0.3))



model.add(LSTM(units=80,activation='relu',return_sequences=True))
model.add(Dropout(0.4))




model.add(LSTM(units=120,activation='relu',return_sequences=True))
model.add(Dropout(0.5))

model.add(Dense(units=1))

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 100, 50)           10400

 dropout (Dropout)           (None, 100, 50)           0

 lstm_1 (LSTM)               (None, 100, 60)           26640

 dropout_1 (Dropout)         (None, 100, 60)           0

 lstm_2 (LSTM)               (None, 100, 80)           45120

 dropout_2 (Dropout)         (None, 100, 80)           0

 lstm_3 (LSTM)               (None, 100, 120)          96480

 dropout_3 (Dropout)         (None, 100, 120)          0

 dense (Dense)               (None, 100, 1)            121

=================================================================
Total params: 178,761
Trainable params: 178,761
Non-trainable params: 0
_________________________________________________________________

In [23]:
model.compile(optimizer='adam',loss='mean_squared_error')
model.fit(x_train,y_train,epochs=50)

Epoch 1/50
52/52 [==============================] - 14s 182ms/step - loss: 0.0753
Epoch 2/50
52/52 [==============================] - 10s 195ms/step - loss: 0.0593
Epoch 3/50
52/52 [==============================] - 10s 188ms/step - loss: 0.0582
Epoch 4/50
52/52 [==============================] - 10s 195ms/step - loss: 0.0574
Epoch 5/50
52/52 [==============================] - 12s 223ms/step - loss: 0.0571
Epoch 6/50
52/52 [==============================] - 11s 217ms/step - loss: 0.0569
Epoch 7/50
52/52 [==============================] - 12s 227ms/step - loss: 0.0569
Epoch 8/50
52/52 [==============================] - 11s 214ms/step - loss: 0.0563
Epoch 9/50
52/52 [==============================] - 12s 228ms/step - loss: 0.0560
Epoch 10/50
52/52 [==============================] - 10s 195ms/step - loss: 0.0558
Epoch 11/50
52/52 [==============================] - 10s 198ms/step - loss: 0.0556
Epoch 12/50
52/52 [==============================] - 10s 197ms/step - loss: 0.0563
Epoch 13/50
52/52 [==============================] - 10s 196ms/step - loss: 0.0553
Epoch 14/50
52/52 [==============================] - 10s 199ms/step - loss: 0.0554
Epoch 15/50
52/52 [==============================] - 10s 195ms/step - loss: 0.0559
Epoch 16/50
52/52 [==============================] - 10s 196ms/step - loss: 0.05530s - loss: 0.055
Epoch 17/50
52/52 [==============================] - 10s 198ms/step - loss: 0.0552
Epoch 18/50
52/52 [==============================] - 10s 194ms/step - loss: 0.0549
Epoch 19/50
52/52 [==============================] - 10s 196ms/step - loss: 0.0553
Epoch 20/50
52/52 [==============================] - 10s 195ms/step - loss: 0.0549
Epoch 21/50
52/52 [==============================] - 10s 196ms/step - loss: 0.0549
Epoch 22/50
52/52 [==============================] - 10s 196ms/step - loss: 0.0550
Epoch 23/50
52/52 [==============================] - 10s 199ms/step - loss: 0.0548
Epoch 24/50
52/52 [==============================] - 10s 192ms/step - loss: 0.0547
Epoch 25/50
52/52 [==============================] - 10s 189ms/step - loss: 0.0548
Epoch 26/50
52/52 [==============================] - 10s 187ms/step - loss: 0.0549
Epoch 27/50
52/52 [==============================] - 9s 177ms/step - loss: 0.0547
Epoch 28/50
52/52 [==============================] - 9s 174ms/step - loss: 0.0547
Epoch 29/50
52/52 [==============================] - 9s 176ms/step - loss: 0.0547
Epoch 30/50
52/52 [==============================] - 9s 176ms/step - loss: 0.0547
Epoch 31/50
52/52 [==============================] - 9s 175ms/step - loss: 0.0546
Epoch 32/50
52/52 [==============================] - 9s 175ms/step - loss: 0.0547
Epoch 33/50
52/52 [==============================] - 9s 176ms/step - loss: 0.0546
Epoch 34/50
52/52 [==============================] - 9s 177ms/step - loss: 0.0546
Epoch 35/50
52/52 [==============================] - 9s 177ms/step - loss: 0.0546
Epoch 36/50
52/52 [==============================] - 9s 174ms/step - loss: 0.0546
Epoch 37/50
52/52 [==============================] - 9s 176ms/step - loss: 0.0547
Epoch 38/50
52/52 [==============================] - 9s 177ms/step - loss: 0.0545
Epoch 39/50
52/52 [==============================] - 9s 175ms/step - loss: 0.0546
Epoch 40/50
52/52 [==============================] - 9s 177ms/step - loss: 0.0545
Epoch 41/50
52/52 [==============================] - 9s 176ms/step - loss: 0.0546
Epoch 42/50
52/52 [==============================] - 9s 181ms/step - loss: 0.0545
Epoch 43/50
52/52 [==============================] - 9s 173ms/step - loss: 0.0544
Epoch 44/50
52/52 [==============================] - 9s 177ms/step - loss: 0.0544
Epoch 45/50
52/52 [==============================] - 9s 174ms/step - loss: 0.0544
Epoch 46/50
52/52 [==============================] - 9s 176ms/step - loss: 0.0546
Epoch 47/50
52/52 [==============================] - 9s 178ms/step - loss: 0.0544
Epoch 48/50
52/52 [==============================] - 9s 179ms/step - loss: 0.0544
Epoch 49/50
52/52 [==============================] - 11s 203ms/step - loss: 0.0543
Epoch 50/50
52/52 [==============================] - 13s 255ms/step - loss: 0.0544

In [1]:
model.save('kerasml.h5')

NameError: name 'model' is not defined